<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DVLD_Connection" connectionString="Server={SERVER PATH};Database=DVLD;User Id={USER ID};Password={PASSWORD};"/>
	</connectionStrings>
</configuration>